<h3 style="float: left">Randonni</h3><br>
<center><h3>Reclamation</h3></center><br>
<h4>Information d' admin</h4>
datereser :

<br>
PRENOM :

<br>
ADRESSE Mail :

<br><br><br><br><br>
<center>
    <table border="1">
        <tr>
            <td>Description</td>
            <td>Reponse</td>
            <td>Type reclamation</td>
            <td>Date achat</td>
            <td>Date envoie</td>
            <td>Reference materiel</td>
        </tr>

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </table>
</center>